:root {
    --color-corazon: pink;
}

nav {
    position: fixed;
    box-shadow: rgba(0, 100, 0, 0.45) 0px 0px 3px 3px;
    border: 1px solid rgba(39, 71, 46, 0.1);
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1, h2 {
    color: green;
    text-align: center;
} 

body {
    background-color: black;
    color: green;
    font-family: Roboto mono, sans-serif;
}

main {
    /* background-color: blue; */
}

p {
    text-align: center;
}
/* ------index------ */

.sectitulo {
    background-color: black;
    background-image: 
radial-gradient(at 47% 33%, rgba(47, 97, 20, 0.195) 0, transparent 59%), 
radial-gradient(at 82% 65%, rgba(22, 29, 17, 0.445) 0, transparent 55%);
}

.titulo {
    margin: auto;
    padding: 2rem ;
    
    text-shadow: 0 0 5px darkgreen, 0 0 10px darkgreen, 0 0 15px darkgreen, 0 0 20px darkgreen;
    
}

.titulo:hover {
    /* transform: scale(1.1); */
    animation: flicker steps(100) 3000ms 1s infinite; 
    animation-timing-function: linear;
    animation-fill-mode: backwards; 
    /* will-change: contents; */
}

@keyframes flicker {
    10% {
        color: rgba(0, 255, 0, 0.1);
        filter: saturate(200%) hue-rotate(20deg);
        transform: scale(1.02);
    }
    20% {
        color: rgba(0, 255, 0, 0.2);
        filter: saturate(200%) hue-rotate(20deg);
        transform: scale(1.04);
    }
    30% {
        color: rgba(0, 255, 0, 0.3);
        filter: saturate(200%) hue-rotate(20deg);
        transform: scale(1.06);
    }
    40% {
        color: rgba(0, 255, 0, 0.4);
        filter: saturate(200%) hue-rotate(20deg);
        transform: scale(1.08);
    }
    
    50% {
        color: rgba(0, 255, 0, 0.5);
        filter: saturate(200%) hue-rotate(20deg);
        
        transform: scale(1.1);
    }
    60% {
        color: rgba(0, 255, 0, 0.5);
        filter: saturate(200%) hue-rotate(20deg);
        
        transform: scale(1.1);
    }
    70% {
        color: rgba(0, 255, 0, 0.4);
        filter: saturate(200%) hue-rotate(20deg);
        transform: scale(1.08);
    }
    80% {
        color: rgba(0, 255, 0, 0.3);
        filter: saturate(200%) hue-rotate(20deg);
        transform: scale(1.06);
    }
    90% {
        color: rgba(0, 255, 0, 0.2);
        filter: saturate(200%) hue-rotate(20deg);
        transform: scale(1.04);
    }
    100%{
        color: rgba(0, 255, 0, 0.1);
        filter: saturate(200%) hue-rotate(20deg);
        transform: scale(1.02);
    }
}

.habilidades {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

table {
    border-width: 2px;
    border-style:solid;
    border-color: green;
    align-content: center;
    margin: auto;
    margin-bottom: 20px;
}

tr,th{
    border: 1px solid green;
    padding: 2px 8px 0;
}

.fuente {
    text-transform: uppercase;
    margin: auto;
    text-align: center;
}

ol , li {
    margin: auto;
    list-style:  square inside ;
    text-align: center;
}


/* ------SallyPhotoApp------ */

.holasally {
    text-transform: capitalize;
    /* background-color: beige; */
}
.imagensally {
    width: 80%;
    border-radius: 10%;
    margin: 5px 10% 5px 10%;
}

.heart {
    position: relative;
    /* float: inline-end; */
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-corazon);
    height: 50px;
    width: 50px;
    transform: rotate(-45deg) ;
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: .7;
}

.heart::after {
    background-color: var(--color-corazon);
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
}

.heart::before {
    content: "";
    background-color: var(--color-corazon);
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
}

@keyframes beat {
    0% {
    transform: scale(1) rotate(-45deg);
    }
    50% {
    transform: scale(0.6) rotate(-45deg);
    }
}

fieldset {
    border: 0px;
}